.App {

  box-sizing: border-box;

}

.RequestData-Container {

  width: 900px;
  overflow: hidden;

}

.RequestData {

  display: flex;
  align-items: center;
  border: 1px solid;
  flex-wrap: wrap;

}

.RequestData-URL {

  flex: 1 1 160px;

}

.RequestData-Responses {

  flex: 1 1 160px;

}