.App {

  box-sizing: border-box;
  padding: 30px;

}

.RequestData-Container {

}

.RequestData {

  align-items: center;
  border: 1px solid;
  width: 80%;
  padding: 20px;

}

.RequestData-URL {

  word-break: break-all;

}

.RequestData-Responses {


}